@import '../../global/variables.scss';

.MainArea {
  width: 100%;
  height: 100%;
  background-color: $colorWhite;
  box-shadow: 0.05rem 0.05rem 0.5rem rgba($colorBlack, 0.05);

  position: relative;

  .DrawArea {
    position: absolute;
    width: 100%;
    height: 100%;

    .DrawLayer {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}
